{{ define "main" }}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container mt-5" data-aos="fade-up">
    <header class="section-header">
      <h3>Portfolio</h3>
      <h5 class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        rerum. Possimus voluptate doloribus vel quo dolores optio unde quasi,
        deserunt voluptatem consequatur? Obcaecati quam impedit, libero fugiat
        nam dolores dolore!
      </h5>
    </header>

    <div
      class="row gy-4 portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {{ range where .Site.Pages "Type" "portfolio" }}
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{ .Params.image }}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>{{.Title | markdownify}}</h4>
            <p>{{.Summary | markdownify}}</p>
            <div class="portfolio-links">
              <a
                href="{{ .Params.image }}"
                data-gallery="portfolioGallery"
                class="portfokio-lightbox"
                title="{{.Title | markdownify}}"
                ><i class="bi bi-plus"></i
              ></a>
              <a href="{{.Permalink}}" title="More Details"
                ><i class="bi bi-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
<!-- End Portfolio Section -->

{{end}}
