{{ define "main" }}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container mt-5" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <header class="section-header text-center">
          <h3>Portfolio</h3>
          <h5 class="mt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
            similique sit provident, quisquam ullam dolor natus quia minima
            incidunt quas, esse harum pariatur. Minima beatae quaerat aperiam
            eos. Eaque dolorem sint suscipit laudantium harum aliquid numquam
            sapiente distinctio! Consequatur dolorum hic officia sed quasi
            voluptatem numquam eum veniam? Unde doloribus laborum sunt minus
            magni neque officiis tempore vero quisquam voluptatibus.
          </h5>
        </header>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->

<!-- ======= Online Articles Posts Section ======= -->
<section id="online-article" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Online Articles</p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-1.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Tue, September 15</span>
          <h3 class="post-title">
            Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
            sit
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-2.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Fri, August 28</span>
          <h3 class="post-title">
            Et repellendus molestiae qui est sed omnis voluptates magnam
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Mon, July 11</span>
          <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Online Articles Posts Section -->

<!-- ======= Online Features Posts Section ======= -->
<section id="online-features" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Online Features</p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-1.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Tue, September 15</span>
          <h3 class="post-title">
            Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
            sit
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-2.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Fri, August 28</span>
          <h3 class="post-title">
            Et repellendus molestiae qui est sed omnis voluptates magnam
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Mon, July 11</span>
          <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Online Features Posts Section -->

<!-- ======= Online Features Posts Section ======= -->
<section id="in-print" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>In Print section</p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-1.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Tue, September 15</span>
          <h3 class="post-title">
            Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
            sit
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-2.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Fri, August 28</span>
          <h3 class="post-title">
            Et repellendus molestiae qui est sed omnis voluptates magnam
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Mon, July 11</span>
          <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Online Features Posts Section -->

<!-- ======= Online Features Posts Section ======= -->
<section id="on-camera" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>On Camera section</p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-1.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Tue, September 15</span>
          <h3 class="post-title">
            Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
            sit
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-2.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Fri, August 28</span>
          <h3 class="post-title">
            Et repellendus molestiae qui est sed omnis voluptates magnam
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Mon, July 11</span>
          <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Online Features Posts Section -->

<!-- ======= Review Posts Section ======= -->
<section id="rewiew-section" class="recent-blog-posts">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Reviews section</p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-1.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Tue, September 15</span>
          <h3 class="post-title">
            Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
            sit
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-2.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Fri, August 28</span>
          <h3 class="post-title">
            Et repellendus molestiae qui est sed omnis voluptates magnam
          </h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="post-box">
          <div class="post-img">
            <img src="/assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
          </div>
          <span class="post-date">Mon, July 11</span>
          <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
          <a href="blog-single.html" class="readmore stretched-link mt-auto"
            ><span>Read More</span><i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End rewiew Features Posts Section -->

{{end}}
