<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-nav text-center">
      <a href="/contact/">Contact</a>
      <a href="/about/">About</a>
      <a href="/speaking">Speaking</a>
    </div>
    <div class="copyright text-center">
      <strong
        ><span
          >Saira Mueller | Washington, D.C. | © 2022 All Rights Reserved.</span
        ></strong
      >
    </div>
    <div class="credits">
      Designed by
      <a href="https://sualsoft.com/" target="_blank">S U A L SOFT</a>
    </div>
    <div class="social-links mt-3 mb-3 text-center">
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
