{{ define "main" }}
<!-- ======= Hero image ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h1 data-aos="fade-up">
          We offer modern solutions for growing your business
        </h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          We are team of talented designers making websites with Bootstrap
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

{{end}}
